extends ../_template

block variables
    - var title = 'Error'

block content
  header.header.header__container
    .container
      .header__top
        a(href="/").title-name Архипов
          span.title-name__doter .
        .header__social
          ul.social
            each item in social
              li.social__item
                a.social__link(href="http://")
                  i(class=`fab ${item}`)
      h1.error= `Error ${status}: ${message}`

  include ../common/_footer